services:
    postgres:
        image: postgres:17.5
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: ride_hail
        volumes:
            - db_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U postgres" ]
            interval: 5s
            timeout: 5s
            retries: 6

    rabbitmq:
        image: rabbitmq:3-management
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        ports:
            - "5672:5672"
            - "15672:15672" # management UI
        healthcheck:
            test: [ "CMD-SHELL", "rabbitmq-diagnostics -q ping || exit 1" ]
            interval: 10s
            timeout: 5s
            retries: 6

    migrator:
        image: migrate/migrate
        command: [ "-path", "/migrations", "-database", "postgres://postgres:postgres@postgres:5432/ride_hail?sslmode=disable", "up" ]
        volumes:
            - ./migrations:/migrations:ro
        depends_on:
            - postgres

volumes:
    db_data:


networks:
    default:
        name: ride-hail_network
